@font-face {
    font-family: "Coffee-extra";
    src: url("./assets/fonts/Coffee-extra.otf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Coffee-extra", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

::selection {
    background-color: orangered; 
    color: white; 
}

/* For Chrome, Edge, and Safari */
::-webkit-scrollbar-thumb {
    background: orangered;
}

/* For Firefox */
html {
    scrollbar-color: orangered transparent;
}

.hero-section {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: row;
    padding: 5%;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(169deg, orangered 70%, white calc(70% + 2px));
    overflow-x: hidden;
}

.hero-image-container {
    position: absolute;
    left: -66.4%;
    height: 125%;
    width: 30vw;
    top: -12.5%;
}

.hero-image {
    position: relative;
    height: 100%;
    width: 100%;
}

.about-me-div {
    position: relative;
    font-size: clamp(0.5rem, 1.3vw, 2.1rem);
    background-color: rgb(239, 180, 158);
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 60%;
    width: 50%;
    margin-left: 35%;
}

.about-me-text-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.social-media-icons-div {
    justify-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    width: 20%;
    height: 14%;
    gap: 12%;
}

.social-media-icons {
    font-size: clamp(1.1rem, 2.5vw, 5rem);
    cursor: pointer;
}

#orange-cat-heading {
    z-index: 3;
    color: white;
    font-weight: 800;
    font-size: clamp(1rem, 3vw, 2rem);
    position: absolute;
    bottom: 0;
    left: 30%;
    padding-left: 1%;
}

.headings,
.work-title {
    color: orangered;
}


.work-section {
    margin: 5%;
    margin-top: 0;
}

.my-work-heading {
    font-size: 4vw;
    padding-left: 5%;
    padding-bottom: 1%;
}


.work-instance {
    box-shadow: 0 0 0 2px rgb(186, 70, 24), 8px 8px 0 0 rgb(221, 73, 32);
    background-color: rgb(239, 180, 158);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding: 2%;

}

.work-image {
    width: 100%;
    height: 22vh;
}

.work-grid {
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 6%;

}

.work-title-icons-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.work-icons-div {
    display: flex;
    gap: 15%;
    align-self: flex-end;
    padding-right: 4%;
}

.work-title {
    font-size: 150%;
}

.work-icon-item {
    font-size: 150%;
}


.footer-section {
    background-color: orangered;
    margin-top: 12.8%;
    overflow-x: hidden;
}


.footer-section-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-image-div {
    height: 48vh;
    width: 55%;
    margin: 2%;

}

.footer-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.contact-me-heading {
    color: black;
    font-size: 50px;
    padding-left: 7%;
    padding-bottom: 1%;
    margin-left: -4%;
}

.contact-me-div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    gap: 6%;
    margin-left: 2%;
    font-size: 1.2rem;
}


.contact-me-description {
    padding-bottom: 2%;
    width: 55%;
}

.phone-div,
.email-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2%;
    width: 50%;
}

.footer-icons-div {
    padding-top: 2%;
    font-size: 3vw;
}

.contact-me-div>* {
    margin-left: 2%;
    margin-bottom: 2%;
}

.attr {
    font-size: 0.7rem;
    margin-left: 1%;
}


/* MEDIA QUERIES */
@media (max-width: 900px) {
    .hero-image-container {
        width: 55%;
        height: 30vh;
        position: static;
        float: left;
        margin-top: -20%;
        margin-left: -35%;
    }

    .about-me-div {
        display: inline;
        position: relative;
        margin-left: 20%;
    }

    .about-me-text-div {
        display: inline;
    }

    .social-media-icons-div {
        position: absolute;
        top: 85%;
        left: 78%;

    }

    .about-me-description {

        margin-top: 7%;

    }

    #orange-cat-heading {
        z-index: 3;
        color: white;
        font-weight: 800;
        font-size: clamp(1rem, 2.5vw, 2rem);
        position: absolute;
        top: -12%;
        left: 12%;
        padding-left: 1%;
    }


    .work-instance {
        box-shadow: 0 0 0 2px rgb(186, 70, 24), 8px 8px 0 0 rgb(221, 73, 32);
        background-color: rgb(239, 180, 158);
        /* border: 2px solid black; */
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        padding: 2%;

    }

    .work-grid {
        gap: 8vh;
    }


    .my-work-heading {
        font-size: 8vw;
    }


    .footer-image-div {
        width: 100%;
        height: 50vh;
    }

    .contact-me-heading {
        margin-left: -5%;
    }
}




/* Small devices (phones, large phones like iPhone Plus) */
@media (max-width: 600px) {
    .hero-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        background-image: linear-gradient(169deg, orangered 52%, white calc(52% + 2px));
    }


    .hero-image-container {
        position: relative;
        height: 90%;
        width: 95%;
        float: top;
        margin-top: -60%;
        margin-left: 133%;
    }

    .about-me-div {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 90%;
        height: 40vh;
        align-self: center;
        margin-left: 1%;
        margin-top: 60%;

    }

    .about-me-text-div {
        font-size: 3.2vw;
    }

    .social-media-icons-div {
        position: absolute;
        margin-right: 2%;
        justify-self: flex-end;
        left: 74%;
        top: 88%;
    }

    .social-media-icons {
        font-size: 6vw;
        padding: 3%;
    }

    .about-me-heading {
        font-size: 6vw;
        margin-left: 31%;
        margin-top: -10%;
    }


    #orange-cat-heading {
        position: absolute;
        bottom: 0;
        left: 20%;
        font-size: 8vw;
        top: auto;
    }


    .about-me-description {
        position: relative
    }

    .work-instance {
        box-shadow: 0 0 0 2px rgb(186, 70, 24), 8px 8px 0 0 rgb(221, 73, 32);
        background-color: rgb(239, 180, 158);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        padding: 2%;

    }

    .work-grid {
        gap: 5vh;
    }


    .my-work-heading {
        font-size: 15vw;
    }

    .footer-section {
        margin-bottom: 0px;
    }

    .footer-section-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .contact-me-heading {
        font-size: 15vw;
        margin: auto;
        margin-bottom: 2%;
    }

    .contact-me-div {
        align-items: flex-start;
        gap: 6%;
    }

    .contact-me-div>* {
        width: 100%;
        margin: auto;
        margin-bottom: 5%;
    }

    .footer-icons-div {
        margin-left: 30%;
        font-size: 10vw;
    }

    .footer-image-div {
        width: 100%;
        padding: 5%;
    }
}